.bootstrap-switch-label {
  font-size: 12px !important;
}

.bootstrap-switch-id-switch-blue .bootstrap-switch-label {
  background-color: rgba(0, 0, 255, 0.10);
}

.bootstrap-switch-id-switch-red .bootstrap-switch-label {
  background-color: rgba(255, 0, 0, 0.10);
}

.bootstrap-switch-id-switch-yellow .bootstrap-switch-label {
  background-color: rgba(255, 255, 0, 0.10);
}
